<button (click)="healthcheck()">Health Check</button>
<br>
<p>Produtos</p>
<button (click)="listarTodosProdutos()">GET</button>
<button (click)="listarProdutoPorSlug()">GET /slug</button>
<button (click)="listarProdutoPorId()">GET /id</button>
<button (click)="listarProdutoPorTag()">GET /tag</button>
<button (click)="adicionarProduto()">POST</button>
<button (click)="alterarProduto()">PUT</button>
<button (click)="excluirProduto()">DELETE</button>
<br>
<p>Clientes</p>
<button (click)="listarTodosClientes()">GET</button>
<button (click)="adicionarCliente()">POST</button>
<button (click)="autenticar()">Autenticar</button>
<button (click)="atualizaToken()">Refresh-Token</button>
<br>
<p>Pedidos</p>
<button (click)="listaPedido()">GET</button>
<button (click)="adicionarPedido()">POST</button>